# Dépendances
node_modules/
*/node_modules/

# Variables d'environnement (SECRETS - ne jamais commiter !)
.env
*/.env
.env.local
*/.env.local

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
*/.DS_Store

# Build
build/
*/build/
dist/
